.filters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* switch container */
.switch {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* hide checkbox */
.switch input {
  display: none;
}

/* slider */
.slider {
  width: 38px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}

/* knob */
.slider::before {
  content: "";
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

/* ON state */
.switch input:checked + .slider {
  background: #1aa64a;   /* GREEN */
}

.switch input:checked + .slider::before {
  transform: translateX(18px);
}

/* text green when ON */
.switch input:checked ~ .text {
  color: #1aa64a;
  font-weight: bold;
}
