function searchTrain() {
  const selected = [...document.querySelectorAll('.filter:checked')]
                    .map(cb => cb.value);

  let output = "";

  trains.forEach(t => {
    if (selected.length === 0 || selected.includes(t.status) || selected.includes("CURRENT")) {
      output += `
        <div class="result-box">
          <b>${t.from} to ${t.to}</b><br>
          ${t.name} (${t.number})<br>
          Time: ${t.time}<br>
          Status: <span class="green">${t.status}</span><br>
          Available: <span class="green">${t.availability}</span>
        </div><br>
      `;
    }
  });

  document.getElementById("result").innerHTML =
    output || "No trains available";
}
